<div class='row mt-3'>
  <nav aria-label='breadcrumb'>
    <ol class='breadcrumb'>
      <li class='breadcrumb-item'><%= link_to 'Home', root_path %></li>
      <li class='breadcrumb-item'><%= link_to @photo.gallery.name, @photo.gallery %></li>
      <li class='breadcrumb-item active' aria-current='page'><%= @photo.title %></li>
    </ol>
  </nav>
</div>
<div class="row justify-content-center align-items-center">
  <div class="col-md-12">
    <div class="card center-card">
      <div class="card text-bg-dark">
        <%= image_tag @photo.image.variant(:main), class: 'rounded card-img-top', alt: @photo.title do %>
          <%= tag(:img, { width: '100%' }) %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= @photo.title %></h5>
          <p class='card-text'><small><%= @photo.description %></small></p>
        </div>
      </div>
    </div>
  </div>
</div>

